table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
.update{
  text-decoration: none;
  padding: 1px 6px;
  border-radius: 3px;
  color:  red;
  background-color:white;
}
.delete{
  text-decoration: none;
  background-color:white;
  padding: 1px 6px;
  border-radius: 3px;
  }


form {
    padding: 20px;
    background-color: beige;
    background-image: url(./istockphoto-604021340-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
    
}

h1 {
    text-align: center;
    color: #ffa114;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=password] {
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    
    padding: 10px 10px;
    margin-left: 700px;
    text-decoration: underline;
}
.error{
    color: red;
}
button{
   
    padding: 10px 20px;
    margin-left: 700px;

}
button.a{
    color: white;
}

